@model MyNotes.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-8 mx-auto">
        <h1 class="mt-2">Login</h1>
        <hr />
        <form asp-controller="Account" asp-action="Login" method="post">
            <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl"/>
            <div class="mb-3">
                <label asp-for="Username"></label>
                <input type="text" asp-for="Username" class="form-control" />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <input type="checkbox" asp-for="RememberMe" />
                <label asp-for="RememberMe"></label>
                <span class="text-danger" asp-validation-for="RememberMe"></span>
            </div>
            <div class="mb-3">
                <input class="form-control btn btn-success" value="Login" type="submit" />
            </div>
        </form>
    </div>
</div>