@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3 fw-bold text-danger mt-5">Welcome to Notes App</h1>
    <p class="display-7 mt-5">
        The My Notes App offers a comprehensive solution for managing your digital notes with ease and security. Featuring essential functionalities like adding, editing, deleting, and reading notes, users can effortlessly organize their information according to their preferences. With a secure login feature, the app ensures the confidentiality of your notes, providing peace of mind in an age of digital insecurity. Whether jotting down important reminders or storing sensitive information, users can trust the app's robust security measures to safeguard their data. Simplify your note-taking experience and protect your information with the Note Saving App, your ultimate companion for digital organization and security.
    </p>
</div>
