@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The My Notes App prioritizes the privacy and security of its users' information. We are committed to protecting the confidentiality of any data collected or stored within the app. Any personal or sensitive information provided by users, including notes and login credentials, is securely encrypted to prevent unauthorized access. We do not share or sell users' data to third parties under any circumstances. Additionally, the app may collect anonymous usage data for analytics purposes, but this information is strictly used to enhance the user experience and is not linked to individual users' identities. Trust the My Notes App to safeguard your privacy and ensure a secure digital environment.</p>
